{{!-- <div
    class="position-absolute top-50 start-50 translate-middle border border-success p-3 border-opacity-25 rounded"
>
    <p class="fs-2 mb-1">Авторизация</p>

    <form class="mb-0" method="post" id="form">
        <div class="input-group mb-3">
            <label class="input-group-text" for="login">Логин</label>
            <input
                type="text"
                class="form-control"
                placeholder="Логин"
                maxlength="255"
                name="login"
                id="login"
                required
            />
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="password">Пароль</label>
            <input
                type="password"
                class="form-control"
                placeholder="Пароль"
                max="255"
                name="password"
                id="password"
                required
            />
        </div>

        <button
            class="btn btn-outline-success"
            type="submit"
            formaction="/authentication"
        >Войти</button>
    </form>
</div> --}}

<div class="text-center">

<main class="form-signin w-100 m-auto position-absolute top-50 start-50 translate-middle border border-secondary p-3 border-opacity-25 rounded">
  <form method="post" id="form">
    <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/1942/1942840.png" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Авторизируйтесь</h1>

    <div class="form-floating">
      <input  type="text"
                class="form-control"
                placeholder="Логин"
                maxlength="255"
                name="login"
                id="login"
                required>
      <label for="login">Логин</label>
    </div>
    <div class="form-floating">
      <input <input
                type="password"
                class="form-control"
                placeholder="Пароль"
                max="255"
                name="password"
                id="password"
                required
            />
      <label for="password">Пароль</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit" formaction="/authentication">Войти</button>
  </form>
</main>
</div>

<script src="/login.js"></script>