.imageForCarousel {
  width: 100%;
  height: 770px;
  object-fit: cover;
}

.cardDiv {
  height: 250px;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#myCarousel {
  top: -15px;
}

.navBarEnd {
  margin-bottom: 46px;
}

.cardBody {
  width: 18rem;
}

.imageDiv {
  height: 160px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
